@page "/"

<MudGrid Justify="Justify.SpaceAround">
    <MudItem lg="6" md="12" sm="12" xs="12">
        <MudPaper Class="d-flex flex-column align-center justify-start pa-3" Elevation="3">
            <MudText Typo="Typo.h6">
                Welcome!
            </MudText>

            <div style="height:5px" />

            <MudText Typo="Typo.body1">
                We area  full service bookkeeping and tax preparing business located in Greenville, PA. 
                We offer local and remote service to anyone that needs it. Feel free to contact us with any questions.
            </MudText>

            <div style="height:10px" />

            <MudButton Color="Color.Info" Variant="Variant.Filled" Style="width:max-content" Class="mr-auto"
                       Link="/contactus">
                Contact Us
            </MudButton>
        </MudPaper>
    </MudItem>

    <MudItem lg="6" md="4" sm="12" xs="12">
        <MudPaper Class="d-flex flex-column align-center justify-center pa-3" Elevation="3">
            <MudText Typo="Typo.h6">
                Walk-ins are always welcome!
            </MudText>

            <MudText Typo="Typo.body1">
                We have normal hours and tax season hours. Tax season starts on the third Monday in January and ends on April 18th.
            </MudText>

            <MudText Typo="Typo.body1">
                During tax season we will have tables set up at Thiel College on Saturdays. Also, we offer discounts for students!
            </MudText>
        </MudPaper>
    </MudItem>

    <MudItem lg="3" md="4" sm="12" xs="12">
        <MudSimpleTable Dense="true" Hover="true" Elevation="3">
            <thead>
                <tr>
                    <th colspan="2">Normal Hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sunday</td>
                    <td>Closed</td>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>10AM - 5PM</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>10AM - 5PM</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>10AM - 5PM</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>10AM - 5PM</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>10AM - 3PM</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>Closed</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudItem>

    <MudItem lg="3" md="4" sm="12" xs="12">
        <MudSimpleTable Dense="true" Hover="true" Elevation="3">
            <thead>
                <tr>
                    <th colspan="2">Tax Season Hours</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sunday</td>
                    <td>Closed</td>
                </tr>
                <tr>
                    <td>Monday</td>
                    <td>10AM - 7PM</td>
                </tr>
                <tr>
                    <td>Tuesday</td>
                    <td>10AM - 7PM</td>
                </tr>
                <tr>
                    <td>Wednesday</td>
                    <td>10AM - 7PM</td>
                </tr>
                <tr>
                    <td>Thursday</td>
                    <td>10AM - 7PM</td>
                </tr>
                <tr>
                    <td>Friday</td>
                    <td>10AM - 7PM</td>
                </tr>
                <tr>
                    <td>Saturday</td>
                    <td>10AM - 7PM</td>
                </tr>
            </tbody>
        </MudSimpleTable>
    </MudItem>

</MudGrid>