<div class="main-app-bar mud-theme-primary">
    <table id="contact-us-table">
        <tr>
            <th colspan="2">CONTACT US</th>
        </tr>
        <tr>
            <td>PHONE:</td>
            <td>(724) 638-7495</td>
        </tr>
        <tr>
            <td>FAX:</td>
            <td>(724) 835-8524</td>
        </tr>
        <tr>
            <td>EMAIL:</td>
            <td>taxwizard8@gmail.com</td>
        </tr>
    </table>

    <MudSpacer />
</div>
