.page {
    background-image: url('/assets/background.jpeg');
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

.image-sizes {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

#contact-us-table {
    height: fit-content;
}

    #contact-us-table th {
        text-align: center;
        font-size: 1.2rem;
    }

    #contact-us-table td {
        padding-top: 2px;
        font-size: 0.9rem;
        text-align: right;
    }

        #contact-us-table td:first-child {
            padding-right: 10px;
            text-align: left !important;
        }

.title {
    font-size: 3em;
    padding: 2px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: column;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.title-sm {
    font-size: 2em;
}

.title-lg {
    font-size: 3em;
}

@media (max-width: 799.98px) {
    .title-sm {
        display: block;
    }

    .title-lg {
        display: none;
    }
}

@media (min-width: 800px) {
    .title-sm {
        display: none;
    }

    .title-lg {
        display: block;
    }
}
