<MudPaper Elevation="3" Class="fee-card">
    <div class="fee-card">
        <MudText Typo="Typo.h6">@Title</MudText>

        <MudText Typo="Typo.subtitle1">@Body</MudText>

        @if (Caveat is not null)
        {
            <MudText Typo="Typo.body2">*@Caveat</MudText>
        }

        <br />

        @if (Price is not null)
        {
            <MudText Typo="Typo.button" Color="Color.Info">@Price</MudText>
        }
        else
        {
            <MudButton Color="Color.Info" Link="tel:7246387495">Call Us</MudButton>
        }
    </div>
</MudPaper>